* {
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

a {
    text-decoration: none !important;
    color: var(--bs-secondary-color) !important;
}

.display-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 18px;
}

@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }
}

/*CLIENTE*/
#cadastrarCliente, #listarCliente, .btn-excluir {
    display: none;
}



